* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/FINAL_PROJECT_WAYPOINT/BACKGROUNDS/background_azomva.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.page {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    max-height: 1200px;
    margin: 0 auto;
}

header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo {
    width: 200px;
    height: 200px;
}

header h1 {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 65px;
    list-style: none;
    margin-left: 65px;
}

.nav a{
    text-decoration: none;
    color: #E2E2E2;
    font-weight: normal;
    white-space: nowrap;
    font-size: 18px;
    transition: all 0.5s
}

.nav a:hover {
    font-weight: bold;
    font-size: 22px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
}

.phone {
    width: 30px;
    height: 30px;
}

.contact p {
    white-space: nowrap;
    font-size: 18px;
    color: white;
}

.hero {
    min-height: 870px;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
}


.cont2 {
    max-width: 550px;
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 54px;
    border: 2px solid #E2E2E2;
    border-radius: 10px;
    align-items: center;
    padding: 25px;
    text-align: center;
    box-shadow: 0 12px 40px rgba(0,0,0,1);
}

.cont2 h2 {
    font-size: 30px;
    color: white;
}

.cont2 .nom1 {
    display: flex;
    align-items: center;
    gap: 20px;
}


.cont2 .nom1 h3 {
    color: white;
    font-size: 26px;
    font-weight: bold;
}


.cont2 .nom2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cont2 .nom2 h3 {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.cont2 h4 {
    font-size: 25px;
    color: white;
}

.cont2 iframe {
    max-width: 550px;
    height: 750px;
    width: 100%;
}

footer {
    max-width: 1440px;
    width: 100%;
    height: 130px;
}

.slogan {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.mini-logo {
    width: 130px;
    height: 130px;
}

.slogan h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}