* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/FINAL_PROJECT_WAYPOINT/BACKGROUNDS/background_main.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.page {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    max-height: 1200px;
    margin: 0 auto;
}

header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo {
    width: 200px;
    height: 200px;
}

header h1 {
    color: white;
    font-size: 24px;
    cursor: pointer;
    animation: Fade 3s ease forwards;
}

@keyframes Fade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav {
    display: flex;
    gap: 65px;
    list-style: none;
    margin-left: 65px;
}

.nav a{
    text-decoration: none;
    color: #E2E2E2;
    font-weight: normal;
    white-space: nowrap;
    font-size: 18px;
    transition: all 0.5s
}

.nav a:hover {
    font-weight: bold;
    font-size: 22px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
}

.phone {
    width: 30px;
    height: 30px;
}

.contact p {
    white-space: nowrap;
    font-size: 18px;
    color: white;
}


.hero {
    min-height: 870px;
    display: flex;
    justify-content: center;
}

.hero-container {
    width: 100%;
    max-width: 1440px;
    text-align: center;
    color: white;
}

.title {
    font-size: 60px;
    font-weight: bold;
    
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    
}

.hero-image1 {
    position: relative;
    width: 700px;
    margin: 40px auto;
    
}

.hero-image1 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0 12px 40px rgba(0,0,0,1);
}

.left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: rgba(255,255,255,.2);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    cursor: pointer;
    left: 0;
}

.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: rgba(255,255,255,.2);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 36px;
    cursor: pointer;
    right: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.white {
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    background: white;
    border: none;
}

a .white {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.5s;
}

a .white:hover{
    color: gray;
    box-shadow: 0 10px 30px black;
    font-size: 23px;
}

.outline {
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    border: 2px solid gray;
}

a .outline {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

a .outline:hover {
    color: gray;
    box-shadow: 0 10px 30px black;
    font-size: 23px;
}

.services {
    max-width: 531px;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
}

.services li {
    position: relative;
    color: #FFF36E;
    font-size: 18px;
    line-height: 220%;
}

footer {
    max-width: 1440px;
    width: 100%;
    height: 130px;
}

.slogan {
    display: flex;
    align-items: center;
    justify-content: ce;
    gap: 10px;
    margin-top: 20px;
}

.mini-logo {
    width: 130px;
    height: 130px;
}

.slogan h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.burger {
    font-size: 26px;
    color: white;
    cursor: pointer;
    margin-left: auto;
    display: none;
}



@media (max-width: 420px) {
    header {
        height: auto;
        flex-wrap: wrap;
        padding: 10px 15px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 15px;
        
    }

    .nav, .contact {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .nav.active, .contact.active {
        display: flex;
    }

    .burger {
        display: block;
    }

    .hero {
        min-height: 870px;
        display: flex;
        justify-content: center;
    }

    .hero-container {
        width: 100%;
        max-width: 400px;
        text-align: center;
        color: white;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 19px;
    }

    .hero-image1 {
        position: relative;
        width: 350px;
        margin: 40px auto;
    }


}

